{% extends "layout.html" %}

{% macro PitchRandomizer(submission) %}
<div class="pitch-wrapper">
  <div class="pitch">{{ submission.pitch }}</div>
  <div class="expand-button">Read more</div>
  <button class="like-button" value="{{ submission.id }}">I like this idea</button>
  {% if flags.shareButtons %}
    {% include "includes/share.html" %}
  {% endif %}

  <!-- <button class="like-button" >Add to Favourites</button> -->

  <div class="tweet-button">
    <a href="https://twitter.com/intent/tweet?url=https://ig.ft.com/sites/future-of-britain/&amp;text=Where%20is%20Britain%20headed%3F&amp;related=%40ft&amp;via=FT">
      <div class="tweet-icon"></div>
      <div class="tweet-text">Tweet this pitch</div>
    </a>
  </div>
  <div class="submit-button"><a href="https://ig.ft.com/sites/future-of-britain-form/" target="_blank">or add your own</a></div>
</div>
{% endmacro %}

{% block article_body %}
<!-- <div class="pitch">"Political language is designed to make lies sound truthful and murder respectable, and to give an appearance of solidity to pure wind"</div>
<div class="expand-button">Read more</div>
<div class="like-button">Like</div>
{% if flags.shareButtons %}
  {% include "includes/share.html" %}
{% endif %} -->

<div data-pitch-count="{{ pitches.length }}">
  {% for pitch in pitches %}
  <div data-index="{{ pitch.id }}" class="hidden">
    {{ PitchRandomizer(pitch) }}
  </div>
  {% endfor %}
</div>

<button class="random-button" id="random-button">Show Me Another</button>

<div class="read-more"><a href="https://www.ft.com/the-future-of-britain-project" target="_blank">Read more about the project</a></div>

<p>
  No. of favourites: <span id="favourites-counter"></span>
</p>

<button id="view-all-favourites">View All Favourites</button>
{% endblock %}
