{% extends "layout.html" %}

{% macro PitchRandomizer(submission) %}
  <div class="pitch-wrapper">
    <div class="pitch">{{ submission.pitch }}</div>
    <div class="expand-button">Tell me more</div>
  </div>
{% endmacro %}

{% block article_body %}
  <div class="top-level-pitch" data-pitch-count="{{ pitches.length }}">
    {% for pitch in pitches %}
      <div data-index="{{ pitch.id }}" class="card">
        {{ PitchRandomizer(pitch) }}
      </div>
    {% endfor %}
  </div>

  <div class="button-container">
    <button class="like-button unselectable" value="">
      <span class="like-icon-empty"></span>
      <span class="like-icon-full"></span>
      <div class="like-text">I like this idea</div>
    </button>

    <button class="tweet-button unselectable" value="">
      <span class="tweet-icon"></span>
      <div class="tweet-text">Tweet this pitch</div>
    </button>

    <button class="random-button unselectable">
      <span class="random-icon"></span>
      <div class="random-text">Get started</div>
    </button>

    <div class="submit-button">
      <a href="https://ig.ft.com/sites/future-of-britain-form/" target="_blank">or submit your own</a>
    </div>
  </div>

  <div class="read-more">
    <a href="https://www.ft.com/the-future-of-britain-project" target="_blank">Read more about the project</a>
  </div>

  <!-- <p>
    No. of favourites: <span id="favourites-counter"></span>
  </p> -->

  <!-- <button id="view-all-favourites">View All Favourites</button> -->
{% endblock %}
