@import 'o-colors/main';
@import 'components/core/main';

/*
      TODO: delete this comment

      Write your code here - keep it neat!
      Split logical parts of you project into components e.g.

      /client
        - /components
            - /component-name
                - styles.scss
                - index.js
                - template.html
*/
body, .o-header__row, main {
  background-color: #191933;
  text-align: center;
}

body {
  height: 100vh;
}

h1.o-typography-heading1 {
  color: #E02F28;
}

div.pitch, div.article-body > p, p.o-typography-lead {
  color: #ECECEF;
}

// div.pitch-wrapper {
//   display: none;
// }

div.pitch {
  height: 20vh;
  font-size: 30px;
}

.expand-button {
  color: #808088;
  border: none;
}

div.like-button {
  color: #ECECEF;
  border: 1px solid #E02F28;
  border-radius: 4px;
  width: 50px;
  //float: right;
}

.article-body .random-button {
  color: #ECECEF;
  border: 1px solid #E02F28;
  border-radius: 4px;
  width: auto;
  background-color: transparent;
  padding: 10px;
}

.tweet-button, .submit-button, div.tweet-button > a {
  color: #ECECEF;
}

.tweet-button {
  background-color: #E02F28;
  width: 140px;
  height: 38px;
  border-radius: 4px;
}


div.tweet-icon {
  height:38px;
  width: 38px;
  margin: 0;
  display:inline-block;
  float: left;
  background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9Ii0xMTMgLTEwMyA0MCA0MCI+PHBhdGggZmlsbD0iI2E3YTU5YiIgZD0iTS04MS44NjItODkuNzg2Yy0uODIuMzU3LTEuNy42LTIuNjI0LjcwOC45NDMtLjU1NiAxLjY2OC0xLjQzNiAyLjAxLTIuNDgzLS44ODMuNTEtMS44NjIuODgtMi45MDIgMS4wOC0uODMzLS44Ny0yLjAyLTEuNDItMy4zMzctMS40Mi0yLjUyMyAwLTQuNTcgMi4wMS00LjU3IDQuNDkgMCAuMzUuMDQuNjkuMTE4IDEuMDItMy44LS4xOS03LjE2Ny0xLjk3OC05LjQyLTQuNjktLjM5NC42Ni0uNjIgMS40My0uNjIgMi4yNiAwIDEuNTUuODA3IDIuOTMgMi4wMzMgMy43My0uNzUtLjAyNS0xLjQ1NC0uMjI4LTIuMDctLjU2di4wNTRjMCAyLjE3NiAxLjU3MyAzLjk5IDMuNjY3IDQuNC0uMzg0LjEwNC0uNzkuMTYtMS4yMDQuMTYtLjMgMC0uNTgtLjAyNy0uODYtLjA4LjU4IDEuNzgyIDIuMjcgMy4wOCA0LjI3IDMuMTE2LTEuNTcgMS4yMDUtMy41NCAxLjkyMy01LjY4IDEuOTIzLS4zNyAwLS43NC0uMDI2LTEuMDktLjA2NyAyLjAyIDEuMjcyIDQuNDIgMi4wMTUgNyAyLjAxNSA4LjQgMCAxMy02Ljg0IDEzLTEyLjc3IDAtLjE5NC0uMDA3LS4zOS0uMDE4LS41OC44OS0uNjMzIDEuNjY1LTEuNDI1IDIuMjgtMi4zMjV6Ii8+PC9zdmc+)
}

div.tweet-text {
  padding-top: 10px;
}

.submit-button {
    text-decoration: none;
    position: relative;
    padding-bottom: 3px;
}
.submit-button:after {
    content: '';

    width: 100%;
    position: absolute;
    left: 0;
    bottom: -3px;

    border-width: 0 0 1px;
    border-style: solid;
}

div.hidden {
  display: none;
}
