@import 'o-colors/main';
@import 'components/core/main';
@import 'o-grid/main';

/*
      TODO: delete this comment

      Write your code here - keep it neat!
      Split logical parts of you project into components e.g.

      /client
        - /components
            - /component-name
                - styles.scss
                - index.js
                - template.html
*/
html, body {
  height: 100%;
}

body
 {
  background:#191a32;

}

html {
    -webkit-font-smoothing: antialiased;
    background:#191a32;
}

header.o-header.o-header--minimal {
    display: block;
    height:auto;
    background-color: transparent;
    border-bottom: 1px solid rgba(255,255,255, 0.3);
}

.o-header {
    color: #fff;
    z-index: 1;
    padding-bottom: 0;
    top: 0;
    position: relative !important;
}

.o-header__container{
    position: relative;
    box-sizing: border-box;
    margin: 0;
    min-width: 240px;
    width: 100%;
}

.o-header__inner{
    clear: both;
    flex-wrap: wrap;
    display: flex;
    zoom: 1;
}


.o-header__visually-hidden{
  display: none;
}

.o-header__bottom{
    position: relative;
    float: left;
    box-sizing: border-box;
    flex: 1 1 0%;
    display: block;
    flex-basis: 100%;
    min-width: 100%;
    max-width: 100%;
    width: 100%;

}

.o-header__top-logo{
    margin: 10px auto;
    padding: 3px 3px;
    position: relative;
    width: 176px;
    height: 15px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;
    vertical-align: baseline;
    display: block;
    background-image: url(https://image.webservices.ft.com/v1/images/raw/fticon:brand-ft-masthead?source=o-icons&tint=%23FFFFFF,%23FFFFFF&format=svg);
    opacity: 0.7;
    >span{
    position: absolute;
    clip: rect(0 0 0 0);
    margin: -1px;
    border: 0;
    overflow: hidden;
    padding: 0;
    width: 1px;
    height: 1px;
    }
}



body, .o-header__row, main {
  text-align: center;
}

.article-body > :not(.graphic){
  margin: 0 auto;
}

// FLEX BOX LAYOUT

.article-head {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: space-around;
    align-items: center;
    }

.top-level-pitch {
    order: 0;
    flex: 3 1 20vh;
    align-self: auto;
    }

  .like-button, .tweet-button {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    }

.random-button {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    }

.submit-button {
    order: 0;
    flex: 0 2 auto;
    align-self: auto;
    }

.read-more {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    }

// END FLEX BOX

.article-head {
  margin-top: 0;
  margin-bottom: 0;
}


h1.o-typography-heading1 {
  color: #EB3330;
  font-size: 40px;
  line-height: 41px;
  margin: 9px auto 0;
}

div.pitch, div.article-body > p, p.o-typography-lead {
  color: #ECECEF;
}

div.pitch-wrapper {
  position: relative;
  display: block;
  text-align: center;
}

div.pitch {
  position: relative;
  height: 30vh;
  font-size: 28px;
  line-height: 30px;
  overflow: scroll;
  display: inline-block;
  padding: 0 5%;
}

.expand-button {
  display: block;
  position: relative;
  margin: -40px 0 25px 0;
  padding-top: 40px;
  color: #808088;
  border: none;
  background-image: linear-gradient(to top, #191a32, transparent);
  background-image: -webkit-linear-gradient(to top, #191a32, transparent);
}

.expand-button::after {
  content: "";
  background-image: url(ic_add_white_24px.svg);
  background-repeat: no-repeat;
  display: inline-block;
  position: relative;
  top: 6px;
  width: 20px;
  height: 20px;
  margin-left: 6px;
  opacity: .5;
}

.tweet-button,
.like-button,
.random-button {
  width: 220px;
  height: 40px;
  border-radius: 4px;
  font-size: 22px;
  font-weight: 600;
  color: #ECECEF;
}


.like-button {
  border: 1px solid #EB3330;
  background-color: #191A32;
}

.like-button,
.tweet-button {
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.random-button {
  position: relative;
  background: #EB3330;
  border: none;
  z-index: 1000;
  margin: 10px 0 0 0 !important;
}

.like-button .like-icon-empty {
  background-image: url("icons/ic_favorite_border_black_24px.svg");
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  top: 2px;
  left: 3px;
  width: 25px;
  height: 25px;
  margin: 5px;
  z-index: 1;
  -webkit-transition: height 750ms;
  transition: height 750ms;
}

.like-button .like-icon-full {
  background-image: url("icons/ic_favorite_black_24px.svg");
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  top: 2px;
  left: 3px;
  width: 25px;
  height: 25px;
  margin: 5px;
}

.o-typography-body-wrapper a {
  border: 0px;
}

@keyframes fill {
  100% {
    height: 0px;
  }
}

.submit-button {
  position: relative;
  text-align: center;
  width: 100%;
  color: #ECECEF;
  font-size: 16px;
  line-height: 16px;
  margin: 13px 0 !important;
  padding: 0 !important;
}

.submit-button::after{
  content: "";
  display: block;
  background: rgba(255,255,255,0.9);
  width: 100%;
  height: 1px;
  color: #ECECEF;
  max-width: 120px;
  margin: 0 auto;
}

.tweet-button,
.tweet-button > a {
  display: none;
  position: relative;
  background-color: #4099FF;
  color: #ECECEF;
  font-size: 22px;
  line-height: 22px;
  font-weight: 600;
  border: none;
}

.tweet-button .tweet-icon {
  background-image: url(twitterBird.svg);
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  top: 2px;
  left: 5px;
  width: 30px;
  height: 30px;
  margin: 5px 5px 5px 0;
}

div.tweet-text {
  text-align: center;
  padding-top: 1px;
}

.random-button .random-icon {
  background-image: url("icons/ic_power_settings_new_black_24px.svg");
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  top: 3px;
  left: 3px;
  width: 25px;
  height: 25px;
  margin: 5px;
}

.card {
  display: none;
}

.read-more {
  margin: 10px 0;
  text-align: center;
  width: 100%;
  font-size: 20px;
  background-color: rgba(255,255,255,0.1);
  font-weight: 500;
  height: 63px;
  line-height: 63px;
  border-style: none;
  color: #ECECEF;
  padding: 0 !important;
}

.read-more > a::after {
  position: relative;
  top: 23%;
  left: 5px;
  content: "";
  background-image: url(arrow-right-white.svg);
  display: inline-block;
  width: 40px;
  height: 40px;
}

.read-more > a,
.submit-button > a {
  color: #ECECEF;
}

footer.o-footer.o-footer--theme-light,
.o-footer__brand {
  background-color: transparent !important;
  color: #ECECEF;
  margin-top: 0;
  border-color: transparent;
}

div.o-footer__copyright {
  margin: 10px 0 0 0;
}

small,
.o-footer__legal-links > li > a {
  color: #ECECEF;
}

div.o-footer__brand {
  margin-top: 0;
}

@media only screen and (min-width: 740px) {
  body {
    background: url('Future of Britain illo__generator.svg') #191a32;
    background-size: cover;
    background-position: center;
    width: 100%;
  }

  .o-header__top-logo {
    margin: 10px auto;
    padding: 6px 6px;
    position: relative;
    width: 262px;
    height: 22px;
  }

  div.o-grid-row > header {
    min-width: 100%;
    margin: 20px 0;
  }

  h1.o-typography-heading1 {
    font-size: 59px;
    line-height: 59px;
  }

  div.pitch-wrapper {
    max-width: 100%;
  }

  div.pitch {
    max-width: 100%;
    font-size: 40px;
    line-height: 43px;
    height: 27vh;
  }

  div.submit-button {
    text-align: center;
    min-width: 100%;
    padding: 15px 0 !important;
  }

  .expand-button {
    margin: 30px 0;
    font-size: 20px;
    background-image: none;
  }

  .like-button,
  .tweet-button,
  .random-button {
    margin: 10px 15px !important;
  }

  .read-more {
    min-width:100%;
  }
}

@media only screen and (min-width: 980px) {
  div.pitch {
    font-size: 42px;
    line-height: 44px;
  }

  .o-typography-body-wrapper a {
    color: #FFF;
    border-style: none;
  }

  .read-more {
    margin: 0;
    text-align: center;
    min-width: 100%;
    font-size: 22px;
    background-color: rgba(255,255,255,0.1);
    font-weight: 500;
    height: 63px;
    line-height: 63px;
    border-style: none;
    text-align: center;
  }

  .read-more > a::after {
    position: relative;
    top: 23%;
    left: 5px;
    content: "";
    background-image: url(arrow-right-white.svg);
    display: inline-block;
    width: 40px;
    height: 40px;
  }

  .expand-button {
    background-image: none;
  }
}

.overlay {
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 999;
  padding-top: 42px;
  background-color: rgba(25, 26, 50, 0.9);;
  -webkit-backdrop-filter: blur(8px);
  transition: opacity linear 100ms;
  -webkit-transition: opacity linear 100ms;
  .overlay-content {
    height: 100%;
    overflow: scroll;
  }
  h1.o-typography-heading1 {
    text-align: center;
    color: #fff;
  }
}

.behind-overlay {
  height: 100%;
  overflow: auto;
}

.unselectable {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@include oGridRespondTo(M) {
  .overlay {
    padding-top: 56px;
  }
}
