@import 'o-colors/main';
@import 'components/core/main';

/*
      TODO: delete this comment

      Write your code here - keep it neat!
      Split logical parts of you project into components e.g.

      /client
        - /components
            - /component-name
                - styles.scss
                - index.js
                - template.html
*/
body
 {
  background:#191a32;

}

html {
    -webkit-font-smoothing: antialiased;
    background:#191a32;
}


header.o-header.o-header--minimal {
    display: block;
    height:auto;
    background-color: transparent;
    border-bottom: 1px solid rgba(255,255,255, 0.3);
}

.o-header {
    color: #fff;
    z-index: 1;
    padding-bottom: 0;
    top: 0;
    position: relative !important;
}

.o-header__container{
    position: relative;
    box-sizing: border-box;
    // margin-left: auto;
    // margin-right: auto;
    margin: 0;
    min-width: 240px;
    width: 100%;
}

.o-header__inner{
    clear: both;
    flex-wrap: wrap;
    display: flex;
    zoom: 1;
}


.o-header__visually-hidden{
  display: none;
}

.o-header__bottom{
    position: relative;
    float: left;
    box-sizing: border-box;
    flex: 1 1 0%;
    display: block;
    flex-basis: 100%;
    min-width: 100%;
    max-width: 100%;
    width: 100%;

}

.o-header__top-logo{
    margin: 10px auto;
    padding: 3px 3px;
    position: relative;
    width: 176px;
    height: 15px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;
    vertical-align: baseline;
    display: block;
    background-image: url(https://image.webservices.ft.com/v1/images/raw/fticon:brand-ft-masthead?source=o-icons&tint=%23FFFFFF,%23FFFFFF&format=svg);
    opacity: 0.7;
    >span{
    position: absolute;
    clip: rect(0 0 0 0);
    margin: -1px;
    border: 0;
    overflow: hidden;
    padding: 0;
    width: 1px;
    height: 1px;
    }
}



body, .o-header__row, main {
  text-align: center;

}

body {
  height: 100vh;
}

h1.o-typography-heading1 {
  color: #EB3330;
  font-size: 31px;
  line-height: 31px;
  margin: 9px auto 0;

}

div.pitch, div.article-body > p, p.o-typography-lead {
  color: #ECECEF;

}

div.pitch-wrapper {
position: relative;
display:block;

}

div.pitch {
  position: relative;
  height: 20vh;
  font-size: 28px;
  line-height: 30px;
  overflow: scroll;
}

.expand-button {
  display: block;
  position: relative;
  margin-top: 30%;
  color: #808088;
  border: none;
}

.expand-button:after{
  content:"";
  background-image:url(ic_add_white_24px.svg);
  background-repeat: no-repeat;
  display:inline-block;
  position: relative;
  top: 6px;
  width:20px;
  height:20px;
  margin-left: 6px;
  opacity: .5;

}

.tweet-button, .like-button, .random-button {
  margin: 0 auto;
  width: 220px;
  height: 40px;
  border-radius: 4px;
  font-size: 22px;
  font-weight: 600;
  color: #ECECEF;
}


.like-button {
border: 1px solid #EB3330;
line-height: 40px;
}

.article-body > :not(.graphic){
  margin: 0 auto;
}

.random-button{
  margin: 0;
  background:#EB3330;
  border:none;
}

.like-button.icon-empty::before {
  content:"";
  background-image: url("icons/ic_favorite_border_black_24px.svg");
  background-repeat: no-repeat;
  display:block;
  position:absolute;
  width:25px;
  height:25px;
  margin: 8px;
}

.like-button.icon-full::before {
  content:"";
  background-image: url("icons/ic_favorite_black_24px.svg");
  background-repeat: no-repeat;
  display:block;
  position:absolute;
  width:25px;
  height:25px;
  margin: 8px;
}


.submit-button{
  position: relative;
  width: 100%;
  color: #ECECEF;
  margin-top: 5px;
  font-size: 16px;
  line-height: 16px;
  padding: 10px 0;
  text-align: center;

}

.submit-button:after{
  content:"";
  display: block;
  background: rgba(255,255,255,0.9);
  //border-bottom: 1px solid white;
  width: 100%;
  height:1px;
  color: #ECECEF;
  max-width: 100px;
  margin: 0 auto;
}

.tweet-button,.tweet-button > a {
  background-color: #4099FF;
  color: #ECECEF;
  font-size: 22px;
  line-height: 22px;
  font-weight: 600;
}

.tweet-button::before {
  content:"";
  background-image:url(twitterBird.svg);
  display:block;
  position:absolute;
  width:30px;
  height:30px;
  margin:5px;
}

div.tweet-text {
text-align: center;
padding: 9px;
}

div.hidden {
  display: none;
}

.read-more{
  // position: absolute;
  // bottom: 50px;
  margin: 0;
  text-align: center;
  min-width: 100%;
  font-size: 22px;
  background-color: rgba(255,255,255,0.1);
  font-weight: 500;
  height: 63px;
  line-height: 63px;
  border-style:none;
  text-align: center;
  color: #ECECEF;
}

.read-more > a, .submit-button > a {
  color: #ECECEF;
}

.hidden {
  display: none;

.o-footer.o-footer--theme-light, .o-footer__brand {
  background-color: transparent !important;
  color: #ECECEF;
}

div.o-footer__copyright {
  margin: 10px 0 0 0;
}

small, .o-footer__legal-links > li > a {
  color: #ECECEF;
}

@media only screen and (min-width: 740px) {

  body
{background:url('Future of Britain illo__generator.svg')  #191a32;
  background-size:cover;
  background-position: center;
  width:100%;
}

  .o-header__top-logo{
    margin: 10px auto;
    padding: 6px 6px;
    position: relative;
    width: 262px;
    height: 22px;
}

  h1.o-typography-heading1 {
  font-size: 59px;
  line-height: 59px;
  }

  div.pitch {
  font-size: 35px;
  line-height: 35px;
}


}

@media only screen and (min-width: 980px) {

  div.pitch {
  font-size: 42px;
  line-height: 44px;
}

.o-typography-body-wrapper a {
  color:#FFF;
  border-style: none;
}

.read-more{
  position: absolute;
  bottom: 50px;
  margin: 0;
  text-align: center;
  min-width: 100%;
  font-size: 22px;
  background-color: rgba(255,255,255,0.1);
  font-weight: 500;
  height: 63px;
  line-height: 63px;
  border-style:none;
  text-align: center;
}

.read-more > a:after {
  position: absolute;
  top: 8px;
  left: 59%;
  content:"";
  background-image:url(arrow-right-white.svg);
  display:inline-block;
  // position:in;
  width:40px;
  height:40px;
  margin: 5px;
}

}
